body{
  background-color:#e3fdfd;
}
hr{
  border-style:none;
  border-top-style: dotted;
  border-width: 4px;
  border-color: grey;
  height:0px;
  width: 10%;
}
img{
  height: 200px;
}
h1{
color: #62d2a2;
}
h3
{
color:#62d2a2;
}
h2{
  color:#66BFBF;
}
